@import "./../responsive/responsive";
@import "./../variables/variables";


.footer {
    width: 100%;
    height: auto;
    padding: 5rem 0;

    .footer__container {

        .footer__row {
            margin: auto;

            .footer__col {

                .footer__nav {

                    // margin-bottom: 1rem;
                    .footer__icon {
                        display: inline-block;
                    }
                }

                .footer__heading {
                    margin-bottom: 1.5rem;

                    h3 {
                        font-size: 2rem;
                        line-height: 2.5rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: var(--black);
                    }
                }


                .footer__info {
                    form {
                        margin-top: 1.6rem;
                        height: 5rem;
                        display: flex;
                        align-items: center;

                        input {
                            padding: 1.2rem 2rem;
                            font-size: 1.6rem;
                            outline: none;
                            border: none;
                            width: 80%;
                            color: var(--black);
                            background: var(--grayS);
                            border-top-left-radius: 3rem;
                            border-bottom-left-radius: 3rem;
                            border: 1px solid rgba(255, 255, 255, 0.2);
                        }

                        button {
                            background: $bluetree;
                            border: none;
                            position: relative;
                            outline: none;
                            // padding: 1.6rem;
                            cursor: pointer;
                            height: 100%;
                            width: 19%;
                            color: #fff;
                            text-align: center;
                            border-radius: 0 3rem 3rem 0;

                            i {

                                font-size: 1.8rem;
                            }
                        }
                    }

                    .footer__social {
                        display: flex;
                        margin-top: 2rem;

                        li {
                            margin-right: 2rem;
                            text-align: center;


                            a {
                                background-color: rgba(10, 190, 38, 0.3);
                                width: 3.5rem;
                                height: 3.5rem;
                                justify-content: center;
                                display: flex;
                                align-items: center;
                                border-radius: 50%;
                                text-decoration: none;
                                transition: all .3s ease;

                                &:hover {
                                    background: $social;

                                    i {
                                        color: orange;
                                    }
                                }

                                i {
                                    transition: all .3s ease;
                                    color: $bluetree;
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }

                    p {
                        font-size: 1.6rem;
                        margin-top: 1.6rem;
                        text-transform: capitalize;
                        color: $text;

                        a {
                            font-size: 100%;
                            text-decoration: none;
                            color: $text;
                        }
                    }

                    .paddingTop {

                        // padding-top: 3.5rem;
                        .w3layouts {
                            color: $bluetree;
                            transition: .3s ease;

                            &:hover {
                                color: $orange;
                            }
                        }
                    }

                    .footer__icon {
                        margin-top: -2.2rem;
                        color: var(--orange);
                        transition: all .5s ease;

                        &:hover {
                            color: var(--black);

                            a {
                                color: var(--black);
                            }
                        }

                        a {
                            position: relative;
                            font-size: 3.2rem;
                            text-transform: capitalize;
                            color: var(--orange);
                            text-decoration: none;
                            font-weight: 600;
                            letter-spacing: .1rem;
                            transition: all .5s ease;

                            i {
                                position: absolute;
                                left: 30%;
                                font-size: 2rem;
                                top: -1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}